{
    auto_https off
}

:80 {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"

    handle /media/* {
        root * /srv/media
        uri strip_prefix /media
        file_server
    }
    handle /api/* {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
